<div class="auth-bg pt-md-5 p-4 d-flex">
  <div class="bg-overlay bg-primary"></div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- end bubble effect -->
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-7">

      <div class="p-0 p-sm-4 px-xl-0">
        <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <ngb-carousel [showNavigationArrows]="showNavigationArrows">
              <ng-template ngbSlide>
                <div class="carousel-item active">
                  <div class="testi-contain text-white">
                    <i class="bx bxs-quote-alt-left text-success display-6"></i>

                    <h4 class="mt-4 fw-medium lh-base text-white">"Loyal customers are the heartbeat of your business."
                      Deliver faster support, personalize experiences, and build trust with easy returns and clear policies.
                    </h4>
                    <div class="mt-4 pt-3 pb-5">
                      <div class="d-flex align-items-start">
                        <div class="flex-shrink-0">
                          <img src="assets/images/users/avatar-1.jpg"
                               class="avatar-md img-fluid rounded-circle"
                               alt="..." height="250" width="250">
                        </div>
                        <div class="flex-grow-1 ms-3 mb-4">
                          <h5 class="font-size-18 text-white">Fazi Ahamad
                          </h5>
                          <p class="mb-0 text-white-50">Customer Success Managerr</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-item active">
                  <div class="testi-contain text-white">
                    <i class="bx bxs-quote-alt-left text-success display-6"></i>

                    <h4 class="mt-4 fw-medium lh-base text-white">"Save time, serve better."
                      Simplify checkout, offer multiple payment options, and analyze performance with detailed financial reports.</h4>
                    <div class="mt-4 pt-3 pb-5">
                      <div class="d-flex align-items-start">
                        <div class="flex-shrink-0">
                          <img src="assets/images/users/avatar-2.jpg"
                               class="avatar-md img-fluid rounded-circle"
                               alt="..." height="200" width="200">
                        </div>
                        <div class="flex-grow-1 ms-3 mb-4">
                          <h5 class="font-size-18 text-white">Roshana Silva
                          </h5>
                          <p class="mb-0 text-white-50">Financial Analyst</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-item active">
                  <div class="testi-contain text-white">
                    <i class="bx bxs-quote-alt-left text-success display-6"></i>

                    <h4 class="mt-4 fw-medium lh-base text-white">"Success is preparation meeting opportunity."
                      Manage stock levels, reduce wastage, and track sales trends with real-time updates to make smart decisions.</h4>
                    <div class="mt-4 pt-3 pb-5">
                      <div class="d-flex align-items-start">
                        <img src="assets/images/users/avatar-3.jpg"
                             class="avatar-md img-fluid rounded-circle"
                             alt="..." height="200" width="200">
                        <div class="flex-1 ms-3 mb-4">
                          <h5 class="font-size-18 text-white">Sanati Perera
                          </h5>
                          <p class="mb-0 text-white-50">Manager
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <!-- end carousel-inner -->
        </div>
        <!-- end review carousel -->
      </div>
    </div>
  </div>
</div>
